.landing-image {
  background-image: url('../../static/images/header-image.jpeg') !important;
  background-size: cover !important;
  border: none !important;
}

.purpose-image {
  background-color: black;
  background-image: url('../../static/images/purpose.jpg') !important;
  background-size: cover !important;
  color: white;
}

.purpose-text {
  padding: 5em 0;
}
